.DS_Store
/target
web_client/src/static/truncate_client_bg.wasm
web_client/src/static/truncate_client.js
kaikki*
node_modules
word_definitions/package-lock.json
truncate_client/img/package-lock.json
_site