.DS_Store
/target
web_client/src/static/truncate_client_bg.wasm
web_client/src/static/truncate_client.js
kaikki*
node_modules
word_definitions/package-lock.json
word_freqs/package-lock.json
word_freqs/en_word_freqs.txt
truncate_client/img/package-lock.json
_site
# ungzipped word definition db
defs.db
local_defs.db
unsummed_wordlist.txt
unmarked_wordlist.txt
objectionable.json