http:// {
  root * web_client
  file_server

  @commit {
    query commit=*
  }

  @noCommit {
    not query commit=*
  }

  header @commit Cache-Control "public, max-age=31536000" # 1 year
  header @noCommit Cache-Control "max-age=0, must-revalidate"
}
